tqdm
transformers
pandas
numpy
scikit-learn
xgboost
nltk
sqlalchemy
asyncpg
pydantic-settings
pydantic
python-dotenv
pyyaml
ipython
mlflow
dagshub
google-play-scraper
sentence-transformers
umap-learn
hdbscan
keybert
langchain
langchain-groq
fastapi
uvicorn
torchvision